html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#top {
  z-index: 1;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 7em;
  padding: 0px;
  margin: 0px;
}

#banner {
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
  text-align: left;
  color: hotpink;
  background-color: black;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 4em;
}

#nav_bar {
  background-color: white;
  height: 2.5em;
}

#main_content {
  margin: auto;
  z-index: 0;
  top: 9em;
  position: relative;
  width: 960px;
}

#left_main{
  display: inline-block;
  width: 78%;
  text-align: center;
}

#right_main{
  vertical-align: top;
  display: inline-block;
  width: 20%;
}

.nav_span {
  font-family: 'Cabin', serif;
  margin-left: 2em;
  font-size: 2em;
}

img {
  margin: auto;
  max-width: 100%;
  max-height: 400px;
}

a {
  color: black;
  font-family: 'Cabin', serif;
  text-decoration: none;
}

p{
  color: hotpink;
  font-family: 'Cabin', serif;
  font-size: 1.4em;
  text-emphasis: bold;
}

h1 {
  font-family: 'Lobster', serif;
}

table {
  margin: auto;
  border-collapse:collapse;
  border-spacing: 0;
  font-family: Muli, sans-serif;
  margin: 0px auto;
  margin-top: 1.5em;
}
tr td:first-child {
  padding-right: 2em;
}

tr td:not(:first-child) {
  border-bottom: solid 1px black;
  padding-right: 3em;
  padding-left: 3em;
  text-align: center;
}

th {
  border-bottom: solid 3px hotpink;
}

td {
  padding: 0.5em;
}

caption {
  caption-side: bottom;
  margin-top: 1em;
}
